/*-----------------
General Style
----------------------*/
body{
	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*-----------------
Ribbon Style
----------------------*/
.ribbon{
	display: flex;
	gap: 670px;
	background-color: #FF900E1A;
}
.ribbon p{
	width: 300px;
	height: 50px;
	color: #131313;
	font-weight: 700;
	font-size: 45px;
	margin-left: 255px;
	margin-top: 50px;
	margin-bottom: 102px;
}
.bar{
	margin-top: 60px;
	margin-right: 240px;
}
.bar ul{
	font-size: 18px;
	display: flex;
	gap: 70px;
	padding: 0px;
	margin: 0px;
}
.bar ul li{
	list-style-type: none;	
}
.bar ul li a{
	text-decoration: none;
	color: #424242;
}
/*-----------------
Banner Style
----------------------*/
.banner{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FF900E1A;
}
.banner h1{
	color: #131313;
	font-size: 64px;
	font-weight: 700px;
	margin: 0px;
}
.banner p{
	color: #727272;
	font-size: 16px;
	font-weight: 400px;
	margin-bottom: 15px;
	margin-top: 0px;
}
.banner button{
	margin-top: 15px;
	margin-bottom: 50px;
	background-color: #FF900E;
	padding: 20px 25px;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	border: 0px solid #FF900E;
	border-radius: 8px;
}
.banner button a{
	text-decoration: none;
	color: #FFFFFF;
}
.banner img{
	margin-left: 230px;
	margin-right: 250px;
	margin-bottom: 40px;
}
/*-----------------
Grid-Quick Style
----------------------*/
.grid-quick{
	display: flex;
	gap: 70px;
	margin-top: 90px;
}
.grid-img{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}
.quick{
	margin-top: 290px;
	display: flex;
	flex-direction: column;
}
.quick h1{
	font-size: 45px;
	margin: 0px;
}
.quick .quick-list{
	color: #727272;
}
.quick .of-our{
	color: #131313;
}
.quick .feat{
	color: #FF900E;
}
.quick p{
	margin-top: 24px;
	margin-bottom: 32px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #727272;
	width: 530px;
	height: 75px;
}
.quick button{
	width: 180px;
	background-color: #FF900E;
	padding: 20px 25px;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	border: 0px solid #FF900E;
	border-radius: 8px;
}
.quick button a{
	text-decoration: none;
	color: #FFFFFF;
}
/*-----------------
Features Style
----------------------*/
.features{
	display: flex;
	gap: 146px;
	margin-top: 150px;
}
.feat-details{
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-left: 240px;
}
.feat-title{
	display: flex;
	gap: 26px;
	align-items: center;
}
.feat-title .vertical-line{
	width: 5px;
	height: 106px;
	background-color: #FF900E;
}
.feat-title h1{
	width: 460px;
	height: 106px;
	font-size: 45px;
	font-weight: 700;
	color: #131313;
	margin: 0px;
}
.feat-details p{
	font-size: 16px;
	font-weight: 400;
	color: #727272;
	width: 585px;
	height: 80px;
}
.feat-main{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.feat-para h2{
	color: #131313;
	font-size: 20px;
	font-weight: 600px;
	margin-bottom: 10px;
}
.feat-para p{
	color: #727272;
	font-size: 16px;
	font-weight: 400;
}
.img-button{
	margin-right: 240px;
}
.img-button img{
	width: 700px;
	height: 980px;
}
.img-button div{
	background-color: #FF900E;
	width: 260px;
	height: 100px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	padding: 45px 42px;
	margin: 0px;
	transform: translateX(-92px) translateY(-123px);
	}
.img-button .ten{
	font-weight: 700;
	font-size: 65px;
}
.img-button .experience{
	font-size: 25px;
	font-weight: 500;
}
/*-----------------
 Facts Style
----------------------*/
.facts{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.facts-details{
	margin-right: 1260px;
	margin-left: 400px;
}
.facts-details h2{
	font-size: 45px;
	font-weight: 700;
	color: #131313;
	margin: 0px;
	width: 260px;
	height: 50px;
}
.facts-details p{
	margin-top: 24px;
	margin-bottom: 100px;
	font-size: 16px;
	font-weight: 400;
	color: #727272;
	width: 540px;
	height: 50px;

}
.facts-row{
	display:flex;
	gap: 125px;
}
.facts-img{
	padding: 45px 35px 60px 35px;
	border: 1px solid #FF900E;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}
.facts-img:hover{
	animation: shake 0.5s ease 0s infinite alternate;
}
@keyframes shake{
0% { transform: translate(1px,1px) rotate(-4deg);}
25% { transform: translate(1px,-2px) rotate(3deg);}
50% { transform: translate(-2px,1px) rotate(-4deg);}
75% { transform: translate(1px,-2px) rotate(3deg);}
100% { transform: translate(-2px,1px) rotate(-4deg);}
}
.facts-img img{
	width: 45px;
	height: 45px;
}
.facts-img .facts-number{
	font-size: 45px;
	font-weight: 600;
	color: #424242;
}
.facts-img .facts-name{
	font-size: 20px;
	font-weight: 600;
	color: #727272;
}
/*-----------------
 Sponsors Style
----------------------*/
.sponsor-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.sponsor-title h2{
	margin-top: 180px;
	margin-bottom: 0px;
	font-size: 45px;
	font-weight: 700;
	color: #131313;
}
.sponsor-title p{
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 400;
	color: #727272;
	width: 540px;
	height: 50px;
	text-align: center;
}	
.sponsor-icons{
	display: flex;
	gap: 155px;
}
.sponsor-icons img{
	width: 165px;
	height: 50px;
	filter: grayscale(100%);
}
/*-----------------
 Footer Style
----------------------*/
.footer-text{
	color: #424242;
	font-size: 20px;
	font-weight: 400;
	background-color: #FFF4E7;
	padding: 38px 300px;
	margin: 50px 240px 50px 240px;
	width: 840px;
	height: 23px;
	border: 0px solid #FFF4E7;
	border-radius: 8px;
	text-align: center;

}
/*-----------------
 Extra Section Style
----------------------*/
.extra{
	background-color: #FF900E1A;
	background-size: contain;
	border: 0px solid #FF900E1A;
	width: 1500px;
	height: 350px;
	border-radius: 8px;
	margin-bottom: 50px;
	margin-top: 130px;
} 
.extra:hover p{
	animation:shak 0.5s ease 0s 5 normal;
	}

@keyframes shak{
0% { transform: translate(1px,1px) rotate(-4deg);}
25% { transform: translate(1px,-2px) rotate(3deg);}
50% { transform: translate(-2px,1px) rotate(-4deg);}
75% { transform: translate(1px,-2px) rotate(3deg);}
100% { transform: translate(-2px,1px) rotate(-4deg);}
}

.extra p{
	font-size: 45px;
	font-weight: 700;
	color: #727272;
	text-align: center;
	margin: 0px;
}
.extra .login-form{
	margin-left: 720px;
	margin-top: 100px;
}
.extra .login-form input[type="email"]{
	border: 1px solid #727272;
	border-radius: 8px;
	padding: 8px 20px;
	margin-bottom: 10px;
}

.extra .login-form input[type="password"]{
	border: 1px solid #727272;
	border-radius: 8px;
	padding: 8px 20px;
	margin-bottom: 10px;
}
.extra .login-form input[type="submit"]{
	background-color: #FF900E;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
	border: 0px solid #FF900E;
	border-radius: 8px;
	margin-top: 20px;
}
@media screen and (max-width: 688px){
/*-----------
Ribbon
------------*/
	.ribbon{
		flex-direction: column;
		gap: 0px;
		align-items: center;
	}	
	.ribbon p{
		width: 100%;
		margin: 0px 0px 0px 200px;
	}
	.bar ul{
		flex-direction: column;
		align-items: center;
		margin: 0 100px;
		width: 100%;
		gap: 30px;
		margin-bottom: 50px;
	}


/*-----------
Banner
------------*/
.banner{
	width: 100%;
}
.banner h1{
	text-align: center;
}
.banner img{
	width: 100%;
	margin: 0 auto;
}
/*-----------
Grid-Quick
-------------*/
.grid-quick{
	flex-direction: column;
	gap: 20px;
	}
.grid-img{
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}
.grid-img img{
	width: 100%
}
.grid-quick .quick{
	width: 100%;
	margin: 0 auto;
	align-items: center;
}
.grid-quick .quick p{
	width: 100%;
}
/*-----------
Features
-------------*/
.features{
	flex-direction: column;
	gap: 20px;
	width: 100%;
}
.feat-details{
	margin: 0;
}
.feat-title{
	gap: 5px;
}
.features .feat-details p{
	width: 100%;
}
.img-button{
	margin: 0 auto;
}
.img-button img{
	width: 100%;
}
.img-button div{
	transform: none;
	margin-bottom: 40px;
}

/*-----------
Facts
-------------*/
.facts{
	width: 100%;
}
.facts-details{
	margin: 0 auto;
}
.facts-details p{
	width: 100%;
	margin-bottom: 20px;;
}
.facts-row{
	flex-direction: column;
	gap:75px;
}
/*-----------
Sponsors
-------------*/
.sponsors{
	width: 100%;
}
.sponsor-title p{
	width: 100%;
}
.sponsor-icons{
	flex-direction: column;
	gap: 65px;
	align-items: center;
}

/*-----------
Extra
-------------*/
.extra{
	width: 100%;
}
.extra .login-form{
	margin: 0 50%;
}
/*-----------
Footer
-------------*/
.footer{
	width: 100%;
}
.footer-text{
	width: 100%;
	margin: 0;
	padding: 25px 20px;
}
}





